{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}" />
  </head>
  <body>
    <h1>Titre: {{book.title}}</h1>
    <h2>Auteur: {{book.author.name}}</h2>
    <h2>Quantité: {{book.quantity}}</h2>
    <a href="{% url "myapp:index" %}">&laquo; revenir à la page precedent</a>
    <script src="{% static "js/index.js" %}"></script>
  </body>
</html>
